body{
    margin: 0;
    padding: 20px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    height: 0;
    width: 0;
}